/* テーブルの装飾 */
table {
    /* 電卓のサイズ */
    width: 300px;
    height: 400px;
   
    /* インライン要素を中央に配置 */
    text-align: center;
    /* 余白調整 */
    padding: 8px;
    margin: 20px;
  }

  input {
    /* ボタンサイズ */
    width: 70px;
    height: 70px;
    /* ボタンの文字サイズ */
    font-size: x-large;
    /* 数字部分の背景色 */
    background-color:blanchedalmond;
    /* ボタン詳細設定 */
    border: none;
    border-radius: 20px;
    /* クリック時の黒枠を消す */
    outline: none;
  }
  
  /* ディスプレイ詳細設定 */
  .display {
    width: 250px;
    text-align: right; /* 文字を右詰めに */
    
  }
  /* 演算子の背景色を上書きで設定 */
  .operator {
    background-color: seagreen;
  }
  /* 記号＝の部分の背景色を上書きで設定 */
  .equal {
    background-color: skyblue;
  }

  